body{
    width:100%;
    margin: 0 auto;
}

.header{
    background-color: #ccbceb;
    display: flex;
}

.logo{
    padding: 10px;
    padding-left: 20px;
}

.navbar{
    list-style-type: none;
    margin-left: auto;
    margin-right: 20px;
    padding-right:20px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}


.navbar li{
    display: inline-block;
    padding: 20px;
    padding-top: 35px;
}

.navbar li a{
    text-decoration: none;
    font-size: 150%;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.navbar li a:hover{
    background-color: #E7D2CC;
}

.content h1{
    text-align: center;
    font-size: 200%;
    font-family: Georgia, Times, 'Times New Roman', serif, Geneva, Tahoma, sans-serif;
    color:#8b65d8;
}

.content p{
    padding-left: 20px;
    font-size: 150%;
    text-align: center;
    align-items:center;
    color:#e868d0;
}

.content{
    align-items: center;
    text-align: center;
}

.gallery{
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    
    width: 400px;
    height: fit-content;
    background-color:#ccbceb;
}

.description{
    padding: 10px;
    text-align: center;
    font-size: 150%;
}

.gallery:hover{
    border: 2px solid #e868d0;
}

.gallery p{
    padding-left: 10px;
    color: black;
    font-size: 120%;
    align-items: left;
    text-align: left;
}

.description p{
    width: fit-content;
}

.details h1{
    padding-left:20px;
    text-align: center;
}
.details img {
    padding: 20px;
}

.details{
    display: flex;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5px;
	padding: 20px;
}

.tigertext{
	text-align: center;
	font-size: 150%;
	font-family: Garamond, Georgia, sans-serif;
	padding: 20px;
}

.about img{
    padding: 20px;
}

.about{
    display: flex;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 5px;
	padding: 20px;
}

.abouttext h1{
    padding-left:20px;
    text-align: center;
}

.abouttext{
    text-align: center;
	font-size: 150%;
	font-family: Garamond, Georgia, sans-serif;
	padding: 20px;
}